*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #474747;
    text-transform: capitalize;
    font-size: 20px;
}
.primary{
    color: #FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border:none;
    padding: 18px 35px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 64px;
}
.primary-btn:hover{
    background-color: #fff;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}

/* header and navbar and banner styles */
header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between ;
    padding: 50px 200px;
}
.nav-title{
    text-transform: capitalize;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 30px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.left-banner{
    width: 50%;
}
.right-banner{
    width: 40%;
}
.left-banner h3{
    color: #474747;
    font-size: 45px;
}
.left-banner h1{
    color: #181818;
    font-size: 85px;
}
.left-banner p{
    color: #757575;
    font-size: 18px;
}
.buttons{
    margin-top: 20px;
}
.contact-btn{
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
.contact-btn:hover{
    background-color: #FD6E0A;
    border:none;
    color: #fff;
}
.right-banner img{
    margin-bottom: -6.5px;
}

/* about section styles */
.about {
    width: 55%;
    margin: 0 auto;
    background-color: #FFF8F3;
    border-radius: 5px;
    margin-top: 130px;
    padding: 130px 155px;
    text-align: center;
}
.section-title{
    text-align: center;
    font-size: 35px;
    color: #181818;
}
.section-description{
    margin: 30px 0;
    font-size: 18px;
    color: #757575;
}
.about-info{
    display: flex;
    justify-content: space-between;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    color: #181818;
    font-weight: 800;
}

/* what i do and skills styles */
.do{
    width: 55%;
    margin: 0 auto;
    margin-top: 130px;
    text-align: center;
}
.skills{
    width: 75%;
    display: flex;
    gap: 24px;
    margin: auto;
}
.skill{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 20px;
}
.skill-title{
    color: #181818;
    font-size: 20px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
}

/* resume styles */
.resume{
    margin-top: 130px;
}
.items{
    width: 75%;
    display: flex;
    gap: 25px;
    margin: auto;
}
.item{
    margin-top: 20px;
}
.items-title{
    font-size: 30px;
    font-weight: 800;
    color: #757575;
    margin: 100px 0 30px;
}
.item-title{
    font-size: 25px;
    color: #474747;
    font-weight: 800;
    margin-bottom: 10px;
}
.item-subtitle{
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 10px;
}
.item-descripton{
    font-size: 16px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-btn{
    text-align: center;
    margin: 50px 0;
}

/* contact styles */
.contacts{
    background-color: #FFF8F3;
}
.contact{
    width: 75%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    padding: 130px 0;
}
.contact-description{
    margin: 20px 0;
}
.connect{
    width: 40%;
}

.connections{
    margin-top: 30px;
}
.connections a{
    margin-right: 30px;
}
.message{
    width: 50%;
}
.message input,textarea{
    display: block;
    width: 60%;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 20px;
}
input[type = "button"]{
    width: 30%;
}